<%= form_with(model: complain, url: contact_form_path) do |form| %>
  <% if @complain.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @complain.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user %>
    <%= form.hidden_field :user_id, value: current_user.id%>
    <%= form.hidden_field :status, value: "New"%>
  <% end %>
  <div>
    <%= form.text_field :subject, class:"input", placeholder: "Subject", maxlength: "40" %>
    <%= form.select( :tag_id, Tag.all.collect {|q| [ q.name, q.id] },{prompt: "Please Select Committee" }, {class:"input"})%>
  </div>
  <br>
  <div class = "row col-12">
    <div class="col-sm-8">
      <%= form.file_field :com_pics, class:"input", id: "gallery-photo-add", :multiple => true, accept: "image/*" %>
    </div>
    <div class = "col-sm-4">
      <button id= "removeImage" type="button" class="btn btn-danger" style="display:none;" >Remove</button>
    </div>
  </div>
  <div class="images"></div>
  <br>
  <div class="msg" >
    <%= form.text_area :detail, placeholder: "Leave a Message", class: "area"  %>
  </div>
  <%= form.submit 'Send message', class: 'btn formbtn' %>
<% end %>
<script>
  // Multiple images preview in browser
  
  var imagesPreview = function(input, placeToInsertImagePreview) {
  
    const btn1 = document.getElementById("removeImage");
    $(placeToInsertImagePreview).html('');
      if (input.files) {
          var filesAmount = input.files.length;
  
          if (filesAmount > 0){
  
              for (i = 0; i < filesAmount; i++) {
              var reader = new FileReader();
              var id = $(input.files[i]).attr('id');
              reader.onload = function(event) {
                  $($.parseHTML('<img >')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
              }
  
              reader.readAsDataURL(input.files[i]);
          }
          btn1.style.display = "block";
          }else{
              $(placeToInsertImagePreview).html('');
              btn1.style.display = "none";
          }
      }
  
  };
  
  $('#gallery-photo-add').on('change', function() {
      imagesPreview(this, 'div.images');
  });
  $("#removeImage").click(function(e) {
    e.preventDefault(); // prevent default action of link
    this.files= [];
    $("#gallery-photo-add").val(""); // clear image input value
    imagesPreview(this, 'div.images');
  
    });
</script>
