<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Assignments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" style= "padding-bottom: 2.5rem;">
      <br>
      <%= yield %>
    </div>
    <footer style= "bottom:0; width:100%; position:fixed; background-color: gray;">
      <div class="container-fluid" style = "text-align: center;">
        <a href= "https://validator.w3.org/check?uri=<%= @url %>" style= "color: white">
          Click to validate
        </a>
      </div>
    </footer>
  </body>
</html>
