<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Search quote</h5>
      <%= form_tag(basics_quotations_path, method: :get) do%>
        <%= text_field_tag(:search, params[:search])%>
        <%= submit_tag("Search")%>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <h5>Import XML</h5>
          <%= form_tag(basics_quotations_path, method: :post) do%>
            <%= text_field_tag(:import_link, params[:import_link])%>
            <%= submit_tag("Import")%>
          <% end %>
        </div>
        <div class="col-md-6 mt-4">
          <%= link_to "Export JSON", :action => :quotations, :format=>'json' %>
          <%= link_to "Export XML", :action => :quotations, :format=>'xml' %>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <h3>Quotations</h3>
  <table class= "table table-striped table-bordered table-hover">
    <thead style = "background-color:#506477; color:white">
      <tr>
        <th>Author</th>
        <th>Quote</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% if @quotations.each do |quotation| %>
        <tr>
          <td><%= quotation.author_name %></td>
          <td><%= quotation.quote %></td>
          <td><%= link_to 'delete', :action => :quotations, :quotation_id =>  quotation.id%></td>
        </tr>
      <% end.empty? %>
      <tr>
        <td colspan="3" style="text-align:center"><%= @resp %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div class="row">
  <% if params[:sort_by] == "date" %>
    <%= link_to "Sort by category",:action => :quotations, :sort_by => :category %>
  <% else %>
    <%= link_to "Sort by date",:action => :quotations, :sort_by => :date %>
  <% end %>
  <% if @cookie_exist %>
    <%= link_to "Restore", :action => :quotations, :restore => ''%>
  <% end %>
</div>
<hr/>
<h3>New quotation</h3>
<br>
<%= form_for @quotation, :url => { :action => :quotations } do |form| %>
  <% @quotation.errors.full_messages.each do |msg| %>
    <div class="alert alert-warning alert-dismissible fade show col-6" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <fieldset>
    <legend>Enter details</legend>
    <div class="form_row col-4">
      <% form.label :author_name %>
      <%= form.text_field :author_name, class:"form-control" , placeholder: :author_name%>
    </div>
    <br>
    <div class="form-group row col-5" >
      <%= form.label 'Category: ', class:"col-sm-2 col-form-label"%>
      <div class="col-sm-8">
        <% if @quotations %>
          <%= form.select( :category, @quotations.collect {|q| [ q.category] }.uniq,{}, {class:"form-select"})%>
        <% else %>
          <%= form.select( :category, {},{}, {class:"form-select"})%>
        <% end %>
      </div>
    </div>
    <br>
    <div class="form_row col-4">
      <% form.label :category %>
      <%= form.text_field :newcategory, class:"form-control", placeholder: 'New Category' %>
    </div>
    <br>
    <div class="form_row col-6">
      <%= form.label :quote %>
      <%= form.text_area :quote , class:"form-control"%>
    </div>
  </fieldset>
  <p>
    <div class="form-row">
      <%= form.submit 'Create', class: "btn btn-secondary"%>
    </div>
  </p>
<% end %>
<hr>
<p class="mb-0">References :
  <a style="font-size:14px" href="https://www.rubyguides.com/2019/07/rails-where-method/">Rails Where Method</a>&nbsp;&nbsp;
  <a style="font-size:14px" href="https://api.rubyonrails.org/v5.2.1/classes/ActionDispatch/Cookies.html">Rails Cookies</a>&nbsp;&nbsp;
  <a style="font-size:14px" href="https://api.rubyonrails.org/classes/ActionController/MimeResponds.html">Rails ActionController</a>&nbsp;&nbsp;
</p>
</div>
