<div class="wrapper" id = "main" style="margin-top:30px;">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Committees</h3>
    </div>
    <ul class="list-unstyled components">
      <% if current_user&.is_admin %>
        <li>
          <a href="#" data-mdb-toggle="modal" data-mdb-target="#SUAddModal">
            <i class="fas fa-plus"></i>
            Add Member
          </a>
        </li>
      <% end %>
      <% Tag.all.each_with_index do |tag, index| %>
        <% if index == 0 %>
          <li class="active">
            <%=link_to tag.name, su_information_path(:su_members => { :tagy => tag.id}, format: :js), remote: true%>
          </li>
        <% else %>
          <li>
            <%=link_to tag.name, su_information_path(:su_members => { :tagy => tag.id}, format: :js), remote: true%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <!-- Page Content -->
  <div class="container-fluid" >
    <h3 style="text-align: center;">Student Union</h3>
    <button type="button" id="sidebarCollapse" class="btn btn-su" style="max-width: 15rem;">
      <i class="fas fa-align-left"></i>
      <span>Committee</span>
    </button>
    <div class="mt-3">
      <% if flash.any?%>
        <%= render 'layouts/alerts'%>
      <% end %>
    </div>
    <%= render 'members'%>
  </div>
</div>
<div class="modal fade" id="SUAddModal" tabindex="-1" aria-labelledby="SUAddModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SUAddModal">Add member</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"><%= render 'form', su_member: @su_member%></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
  
  
      $('#sidebarCollapse').on('click', function (elem) {
          $('#sidebar').toggleClass('active');
      });
  
       $("li").click(function() {
      // remove classes from all
      $("li").removeClass("active");
      // add class to the one we clicked
      $(this).addClass("active");
   });
  
  });
</script>
