<div>
  <h5>Student Union Information</h5>
  <% if current_user&.is_admin %>
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createSuModal">
      <i class="fas fa-plus"></i>
      Add Member
    </button>
  <% end %>
</div>
<div
  class="modal fade"
  id="createSuModal"
  tabindex="-1"
  aria-labelledby="SuModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SuModalLabel">Create SU Member</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <%= render 'form_add', su_member: @su_member %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% @su_members.each do |member| %>
    <div class="col-md-4  mt-5">
      <div class="card mb-4" style="max-width: 22rem;">
        <div class="card-body" style="text-align:center">
          <% if current_user&.is_admin %>
            <%= link_to  '#', 'data-mdb-target' => "#myModal_#{member.id}", 'data-mdb-toggle' => 'modal', :class=>"btn btn-primary", :style=>'float: right;' do%>
              <i class="fas fa-edit"></i>
            <% end %>
            <div class="modal fade" id='<%= "myModal_#{member.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= member.first_name %> </h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" ></button>
                  </div>
                  <div class="modal-body">
                    <%= render 'form_add', member: member %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if member.avatar.attached? %>
            <%= image_tag(member.avatar,alt: "pp_image", class: "card-img-top circular_image")%>
          <% else %>
            <%= image_tag "pp.jpg",alt: "pp_image", class: "circular_image"%>
          <% end %>
          <br>
          <br>
          <p style="text-align:center"><b><%= member.first_name + ' ' + member.last_name %></b></p>
          <p style="text-align:center"><b><%= member.designation %></b></p>
          <p style="text-align:center"><b><%= member.nationality %></b> </p>
          <p style="text-align:center"><b><%= member.program + '/' + member.department %></b> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
