<%= form_with(model: event, url: events_path) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <%= form.label :title, class: 'form-label' %>
      <div class="form-outline mb-4">
        <%= form.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <%= form.label :event_date, class: 'form-label' %>
      <div class="form-outline mb-4">
        <%= form.datetime_local_field  :event_date, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-outline mb-4">
    <%= form.text_area :description, class: 'form-control', rows: '6' %>
    <%= form.label :description, class: 'form-label' %>
  </div>
  <div class = "row col-12">
    <%= form.label :add_pictures, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.file_field :pictures, class:"form-control", multiple: true %>
    </div>
  </div>
  <%# <div class="gallery"></div> %>
  <div class="media-preview"></div>
  <div class="modal-footer">
    <%= form.submit 'Submit', class: 'btn btn-primary mb-4' %>
  </div>
<% end %>
