<%= form_with(model: event, url: events_path) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-outline mb-4">
    <%= form.text_field :title, class: 'form-control' %>
    <%= form.label :title, class: 'form-label' %>
  </div>
  <div class="form-outline mb-4">
    <%= form.text_area :description, class: 'form-control' %>
    <%= form.label :description, class: 'form-label' %>
  </div>
  <%= form.label :event_date, class: 'form-label' %>
  <div class="form-outline mb-4">
    <%= form.date_field :event_date, class: 'form-control' %>
  </div>
  <div class = "row col-12">
    <%= form.label :add_pictures, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.file_field :pictures, class:"form-control", multiple: true %>
    </div>
  </div>
  <ul>
    <% @event.pictures.each do |file| %>
      <li>
        <%= image_tag file.preview(resize_to_limit: [100, 100]) %>
      </li>
    <% end %>
  </ul>
  <div class="modal-footer">
    <%= form.submit 'Submit', class: 'btn btn-primary mb-4' %>
  </div>
<% end %>
