<div class="container">
  <% if current_user&.is_admin %>
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#EventModal">
      <i class="fas fa-plus"></i>
      Create Event
    </button>
  <% end %>
  <% @events.each do |event| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <h6>Event Date: <%= event.event_date %></h6>
        <% if event.pictures.attached? %>
          <% event.pictures.each do |picture| %>
            <li>
              <%= image_tag(picture, alt: "event_image", class: '_image') %>
            </li>
          <% end %>
        <% end %>
        <p class="card-text">
          <%= event.description %>
        </p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
  <% end %>
</div>
<div class="modal fade" id="EventModal" tabindex="-1" aria-labelledby="EventModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EventModal">Create Event</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"><%= render 'form', event: @event%></div>
    </div>
  </div>
</div>
</div>
