<div class="container">
  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-md-2">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
                    <div class="carousel-indicators">
                      <% if @event.pictures.attached? and @event.pictures.count > 1%>
                        <% @event.pictures.each_with_index do |picture, index| %>
                          <button
                              type="button"
                              data-mdb-target="#carouselExampleIndicators"
                              data-mdb-slide-to="<%= index %>"
                              class="<%= 'active' if index == 0 %>"
                              aria-current="true"
                              aria-label="Slide <%= index%>"
                            ></button>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="carousel-inner">
                      <% if @event.pictures.attached? %>
                        <% @event.pictures.each_with_index do |picture, index| %>
                          <div class="carousel-item <%= 'active' if index == 0 %>">
                            <%= image_tag(picture ,alt: "event_image", class: "d-block event-pictures")%>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <% if @event.pictures.attached? and @event.pictures.count > 1%>
                      <button
                          class="carousel-control-prev"
                          type="button"
                          data-mdb-target="#carouselExampleIndicators"
                          data-mdb-slide="prev"
                        >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                          class="carousel-control-next"
                          type="button"
                          data-mdb-target="#carouselExampleIndicators"
                          data-mdb-slide="next"
                        >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    <% end %>
                  </div>
                </div>
                <div class="down-content">
                  <a href="meeting-details.html">
                    <h4><%= @event.title %></h4>
                  </a>
                  <% if @event.tag.present? %>
                    <p>Category: <%= @event.tag.name %></p>
                  <% end %>
                  <p><%= @event&.event_date&.strftime("%d %B %Y %I:%M %p") %></p>
                  <pre><%= @event.description %></pre>
                  <% if current_user&.is_admin %>
                    <div class="d-flex justify-content-end">
                      <%= link_to 'Edit', edit_event_path(@event), :class=>"btn btn-su m-2" %>
                      <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger m-2'%>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </section>
        </div>
