<div
          id="ait-background"
          class="p-5 text-center bg-image"
          style="background-image: url(<%= asset_path 'background.jpg' %>);"
  >
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <%= link_to 'View Events', events_path , class: "btn btn-outline-light btn-lg m-2", role: "button"%>
        <%= link_to 'Register Complain', contact_form_path , class: "btn btn-outline-light btn-lg m-2", role: "button"%>
      </div>
    </div>
  </div>
</div>
<% if @events.present? %>
  <div class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
      <h5 class = "text-uppercase fw-bold ">Event Highlights</h5>
      <%= link_to  events_path, class: "btn btn-su" do%>
        More Events &nbsp;&nbsp; <i class="fas fa-arrow-right"></i>
      <% end %>
    </div>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-md-3 mb-5">
          <div class="su-card">
            <%= link_to event_path(event), style: "display: block;" do%>
              <div class="su-card-header card-header">
                <% if event.pictures.attached? %>
                  <%= image_tag(event.pictures.first,alt: "event_image", class: "img-fluid", style: "width: 100%; max-height: 175px;")%>
                <% end %>
                <div class="card-header_overlay text-center">
                  <span class="pill"><%= event.title %></span>
                </div>
              </div>
              <div class="page-header text-center" style="padding-top:5px;">
                <p><%= event&.event_date&.strftime("%d %B %Y %I:%M %p") %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
