<h2>Assignments</h2>
<hr>
<h5>Problem Set 1: Basics</h5>
<hr>
<ul>
  <li>
    <p><%= link_to 'Divide by zero', basics_divide_by_zero_path%></p>
  </li>
  <li>
    <p><%= link_to 'News', basics_news_path%></p>
  </li>
</ul>
<p class="mb-0">Online references :
  <a style="font-size:14px" href="https://www.zyte.com/blog/an-introduction-to-xpath-with-examples/#:~:text=XPath%20is%20a%20powerful%20language,extract%20web%20data%20using%20Scrapy.">Intro to Xpath</a>&nbsp;&nbsp;
  <a style="font-size:14px" href="https://medium.com/@jennyjean8675309/web-scraping-with-ruby-and-nokogiri-73e75a6f34ed">Web Scraping with Nokogiri</a>&nbsp;&nbsp;
  <a style="font-size:14px" href="https://stackify.com/rails-logger-and-rails-logging-best-practices/">Rails Logger</a>
</p>
<p>News website:
  <a style="font-size:14px" href="https://kathmandupost.com/">The Kathmandu Post</a>&nbsp;&nbsp;
  <a style="font-size:14px" href="https://www.nytimes.com/">The New York Times</a>
</p>
<br>
<hr>
<h5>Problem Set 2: Basics</h5>
<hr>
<ul>
  <li>
    <p><%= link_to 'Quotations', basics_quotations_path%></p>
  </li>
   <li>
    <p><%= link_to 'SQL Tasks', basics_sql_tasks_path%></p>
  </li>
</ul>

<h5>Problem Set 3: Planning, Odds and Ends</h5>
<hr>
<ul>
  <li>
    <p><%= link_to 'Project Plan', plan_index_path%></p>
  </li>
</ul>
