<%= form_for user, :url => { :action => :users } do |f| %>
  <div class="form-row" >
    <%= f.hidden_field :id, value: user.id%>
  </div>
  <div class="form-group row col-12" >
    <%= f.label 'Committee: ', class:"col-sm-3 col-form-label"%>
    <div class="col-sm-8">
      <%= f.select( :tag_id, Tag.all.collect {|q| [ q.name, q.id] },{prompt: "Select Committee" }, {class:"form-select"})%>
    </div>
  </div>
  <br>
  <div class="form-group row col-12" >
    <%= f.label 'Make Admin: ', class:"col-sm-3 col-form-label"%>
    <div class="col-sm-2">
      <%= f.check_box :is_admin, class:"form-check-input"%>
    </div>
  </div>
  <br>
  <div class="form-row">
    <div style="float:right;" ><button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" style="margin-right: 10px;"> Close</button><%= f.submit 'Save changes', class: "btn btn-su" %></div>
  </div>
  <br>
<% end %>
