<div class="container">
  <br>
  <br>
  <h3>Admin Portal</h3>
  <br>
  <h5>Admin Users</h5>
  <br>
  <div style="display:inline-block; margin-bottom:20px; margin-left:10px; float:right;">
    <button type="button" class="btn btn-su" data-mdb-toggle="modal" data-mdb-target="#exampleModal" >
      Advanced Search
    </button>
  </div>
  <div id = "search_user" style="display:inline-block; margin-bottom:20px; float:right;">
    <%= form_tag(admin_users_path, method: :get) do%>
      <div style="display:inline-block; "><%= text_field_tag(:search, params[:search], class:'form-control')%></div>
      &nbsp;
      <div style="display:inline-block;"><%= submit_tag("Search", :class => "btn btn-su")%></div>
      &nbsp;
    <% end %>
  </div>
  <br>
  <div style=" width: 100%; overflow-x:auto;">
    <table class= "table table-striped table-hover">
      <thead style = "background-color:#325c52; color:white">
        <tr style="text-align:center">
          <th>Email</th>
          <th>Registered Date</th>
          <th>Status</th>
          <th>Committee</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody style = "background-color:#f5efe4;">
        <% if @users.each do |user| %>
          <tr style="text-align:center">
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime("%d/%m/%Y") %></td>
            <% if user.is_admin %>
              <td>Admin</td>
            <% else %>
              <td>Member</td>
            <% end %>
            <% if user.tag_id %>
              <td><%= user.tag.name %></td>
            <% else %>
              <td>None</td>
            <% end %>
            <td>
              <%= link_to 'Edit',  '#', 'data-mdb-target' => "#myModal_#{user.id}", 'data-mdb-toggle' => 'modal', :class=>"btn btn-su"  %>
              <div class="modal fade" id='<%= "myModal_#{user.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Email:  <%= user.email %> </h5>
                      <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" ></button>
                    </div>
                    <div class="modal-body">
                      <%= render 'admin/edit_user', user: user %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end.empty? %>
        <tr>
          <td colspan="5" style="text-align:center"> No Users Found</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>
<br>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Advanced Search</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"><%= render 'admin/search_user'%></div>
    </div>
  </div>
</div>
</div>
